@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*:focus {
    outline: none;
}
*:active {
    outline: none;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #1b1d35;
    display: flex;
    align-items: center;
    justify-content: center;
}
.window{
    width: 600px;
    height: 80%;
    box-shadow: 5px 5px 20px;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 8%;
    background-color: #3c096c;
    color: white;
    box-shadow: 0px 2px 10px #000000;
    display: flex;
    display: flex;
    align-items: center;
}
.a-logout{
    margin-left: 20px;
    margin-right: 28%;
}
.messages{
    overflow: auto;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column-reverse;
}
.message{
    width: fit-content;
    color: white;
    margin: 4%;
    background-color: #3c096c;
    display: inline-block;
    padding: 10px;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0px 2px 10px #000000;
}
.type{
    width: 100%;
    height: 10%;
    background-color: #3c096c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    border: none;
    cursor: pointer;
    height: 60%;
    border-radius: 20px;
    width: 70%;
    margin-right: 5%;
    font-size: 200%;
    transition: all .2s;
}
.send{
    font-size: 170%;
    cursor: pointer;
    border: none;
    background-color: #c77dff;
    width: 15%;
    height: 60%;
    border-radius: 20px;
    transition: all .2s;
}
.send:hover{
    transform: scale(1.05);
}
.input:hover{
    transform: scale(1.02);
}
.messages::-webkit-scrollbar{
    width: 0px;
}
.messagebox{
    overflow-wrap: anywhere;
    width: 90%;
    display: flex;
}
.messagebox-self{
    overflow-wrap: anywhere;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
}
.message-self{
    width: fit-content;
    color: white;
    margin: 4%;
    background-color: #c77dff;
    display: inline-block;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 2px 10px #000000;
}
.sender{
    font-size: 85%;
}
.text{
    margin-top: 5px;
    margin-bottom: 5px;
}
#message-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    text-align: start;
    font-size: 80%;
}
.windows{
    height: 100%;
    width: 100%;
}
.chatapp{
    display: none;
}
.login{
    flex-direction: column;
}
.register{
    display: none;
}
.logininputs{
    height: 92%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#register-form{
    width: 70%;
}
#login-form{
    margin-bottom: 8%;
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-el{
    width: 100%;
    margin-top: 5%;
    font-size: 200%;
}
label{
    color: white;
}
.form-input{
    border-radius: 15px;
    font-size: 90%;
    width: 100%;
    height: 45px;
    transition: all .2s;
    box-shadow: 2px 2px 5px #000000;
}
.form-btn{
    box-shadow: 2px 2px 5px #000000;
    font-size: 100%;
    width: 40%;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: #3c096c;
    border: none;
    transition: all .2s;
}
.form-btn:hover{
    transform: scale(1.05);
}
.form-input:hover{
    transform: scale(1.02);
}
.a-reg{
    margin-top: 20px;
    width: 100%;
    color: white;
}
a:visited{
    color: white;
}